
.nav{
  display: flex;
  justify-content: space-between;

}

ul{
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li{
  
  padding-left: 15px;
  padding-top: 15px;

}

li a{
  text-decoration: none;
  cursor: pointer;

}

.nav h1{
  color: #4C8EBD;
  margin:0;
  font-size: 40px;
}

.nav h1 a{
 text-decoration: none;
 color: #4C8EBD;
}

.nav-search{
  flex:1;
  display: flex;
  margin: 0 5%;
  margin-top: 5px;
}

.nav-search input{
  flex:1;
  color: #083857 ;
  height:35px;
  border:  1px solid #4C8EBD;
  border-right: none;

}

.nav-search button{
  height:39px;
   border:  1px solid #4C8EBD;
}